/* contenitore */

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

/* utili */

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}